@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  padding: 2.5%;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 5px;
  background-color: azure;
}

/* p {
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  page-break-inside: avoid;
  page-break-before: always;
} */

input:focus,
textarea:focus {
  outline: 1px solid rgba(48, 48, 255, 0.788);
}

select {
  padding: 1%;
  background-color: azure;
}

::-webkit-scrollbar {
  display: none;
}
